<h1>Current Wikis</h1>
<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |w| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">title
          <%= link_to w.title, w %>
        </h4>
        <small>body<%= w.body %></small>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>
</div>
