<h2>Your account has been downgraded to Standard</h2>

<h4>You will no longer be able to post a private Wiki.</h4>
<h4>Your existing private Wiki are now public.</h4>


<h3>Upgrade to Premium</h3>
<%= link_to "Upgrade", new_charge_path, class: 'btn btn-success' %>
